<%= provide :title, t(".title_about") %>
  <h1><%= t ".heading_about" %></h1>
  <p>
    <%= t ".the" %> <%= link_to  %Q(<em>#{t(".title_url_rails")}</em>).html_safe, t(".url_rails") %> <%= t ".is_a" %>
    <%= link_to t(".title_url_book"), t(".url_book") %> <%= t ".and" %>
    <%= link_to t(".title_url_screencast_series"), t(".url_screencast_series") %>
    <%= t ".to_teach_web_development_with" %>
    <%= link_to t(".title_url_ruby_on_rails"), t(".url_rails") %><%= t ".this_is_the_sample_application_for_the_tutorial" %>
  </p>
