<%= provide :title, t(".title_contact") %>
<h1><%= t ".heading_contact" %></h1>
<p>
  <%= t ".contact_the_ruby_on_rails_tutorial_about_the_sample_app_at_the" %>
  <%= link_to t(".title_url_contact"), t(".url_contact") %><%= t ".end_content_contact" %>
</p>
