<h1><%= t ".heading" %></h1>

<p><%= t ".content_line_3" %> </p>
<%= link_to t(".content_url_reset"), edit_password_reset_url(@user.reset_token,
email: @user.email) %>
<p><%= t ".content_line_6" %></p>
<p>
<%= t ".content_line_8" %>
</p>
