<footer class="footer">
  <small>
    <%= t ".the" %> <%= link_to t(".ror_tutorial"), t(".url_rails") %>
    <%= t ".by" %> <%= link_to t(".michael hartl"), t(".url_michael_hartl") %>
  </small>
  <nav>
    <ul>
      <li><%= link_to t(".title_url_about"), about_path %></li>
      <li><%= link_to t(".title_url_contact"), contact_path %></li>
      <li><%= link_to t(".title_url_news"), t(".url_news") %> </li>
    </ul>
  </nav>
</footer>
